
.titleContainer {
  margin: 0  auto;
  margin-top: 4rem;
  width: auto;
  color: white;
}

.portfolio {
  text-align: left;
  display: block;
  font-size: clamp(2rem, 7vw, 4rem);
  max-width: 900px;
  margin-bottom: -2%;
}

h1 {
  font-size: clamp(2.5rem, 9vw, 5rem);
  font-weight: bold;
}

.letterR {
  font-size: clamp(5rem, 20vw, 13rem);
  vertical-align:-25%;
  margin-right: -3%;
}