.selected {
  border: 2px solid aquamarine;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: flex-start;
}

.eachSlide span {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}

.slideBlind {
  width: 100%;
  height: 160%;
  background-color: rgba(128, 128, 128, 0.358);
  transition: height 1s;
}

.image:hover > .slideBlind {
  height: 0;
}

.image:hover {
  cursor: pointer;
}

h2 {
  color: white;
}